@import 'reset';
@import 'placeholders';

$sidebar: #C4C1E0;
$main-area: #FAFAFA;
$icons: #7C73E6;
$sidebar-width: 350px;

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Fira Sans';
}

.page {
  @extend %df;
}

.sidebar {
  position: relative;
  height: 100vh;
  width: $sidebar-width;
  padding: 30px 0 0 30px;
  background-color: $sidebar;
  color: #fff;
}

.list-el--outer {
  position: relative;

  &:before {
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $sidebar-width;
    height: 2.5rem;
    background-color: darken($sidebar, 4%);
  }

  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.list-el--inner {
  position: relative;
  z-index: 1;
  line-height: 2.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.list--inner {
  padding-left: 20px;
}

.list-icon {
  display: inline-block;
  width: 14px;
  text-align: center;
  font-size: 1.3rem;
  margin-right: 15px;
  color: $icons;
}

.main {
  flex: 1;
  height: 100vh;
  padding: 30px;
  background-color: $main-area;
}

.main-header {
  @extend %df;
  justify-content: space-between;
  align-items: center;
}

.element-name {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.element-options {
  button {
    font-size: 1.5rem;
    color: $icons;
    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}

.element-info {
  margin-top: 15px;
  color: #aaa;
}

.content {
  margin-top: 30px;
}

.btn {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 1rem;
  color: #fff;
}

.btn--folder {
  background-color: $icons;
}

.btn--file {
  background-color: $sidebar;
}
